In [103]:
import os,sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import zipfile
import json

In [104]:
rootPath = os.getcwd()
rawdataPath = os.path.join(rootPath,"rawdata")
dataPath = os.path.join(rootPath,"data")
modelPath = os.path.join(rootPath,"model")
if not os.path.exists(dataPath):
    os.makedirs(dataPath)
if not os.path.exists(modelPath):
    os.makedirs(modelPath)
if not os.path.exists(rawdataPath):
    os.makedirs(rawdataPath)

In [105]:
for dirpath, dirnames, filenames in os.walk(rawdataPath):
    for filename in filenames:
        print(os.path.join(dirpath, filename))

c:\Users\guoyy\OneDrive\Desktop\TESTING\DS\rawdata\transactions.zip

In [106]:
zip_path = os.path.join(rawdataPath, "transactions.zip")

# Path where you want to extract the files
extract_to_path = dataPath

# Opening the zip file in read mode
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    # Extracting all the contents of the zip file
    zip_ref.extractall(extract_to_path)

print("Unzipping completed.")

Unzipping completed.

In [107]:
file_path = os.path.join(dataPath, "transactions.txt")
def read_json_objects(file_path):
    data = []
    with open(file_path, 'r') as file:
        for line in file:
            try:
                json_object = json.loads(line)
                data.append(json_object)
            except json.JSONDecodeError as e:
                print(f"Error parsing JSON: {e}")
    return data
json_list = read_json_objects(file_path)
df = pd.DataFrame(json_list)

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 786363 entries, 0 to 786362
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   accountNumber             786363 non-null  object
 1   customerId                786363 non-null  object
 2   creditLimit               786363 non-null  float64
 3   availableMoney            786363 non-null  float64
 4   transactionDateTime       786363 non-null  object
 5   transactionAmount         786363 non-null  float64
 6   merchantName              786363 non-null  object
 7   acqCountry                786363 non-null  object
 8   merchantCountryCode       786363 non-null  object
 9   posEntryMode              786363 non-null  object
 10  posConditionCode          786363 non-null  object
 11  merchantCategoryCode      786363 non-null  object
 12  currentExpDate            786363 non-null  object
 13  accountOpenDate           786363 non-null  object
 14  dateOfLastAddressChange   786363 non-null  object
 15  cardCVV                   786363 non-null  object
 16  enteredCVV                786363 non-null  object
 17  cardLast4Digits           786363 non-null  object
 18  transactionType           786363 non-null  object
 19  echoBuffer                786363 non-null  object
 20  currentBalance            786363 non-null  float64
 21  merchantCity              786363 non-null  object
 22  merchantState             786363 non-null  object
 23  merchantZip               786363 non-null  object
 24  cardPresent               786363 non-null  bool
 25  posOnPremises             786363 non-null  object
 26  recurringAuthInd          786363 non-null  object
 27  expirationDateKeyInMatch  786363 non-null  bool
 28  isFraud                   786363 non-null  bool
dtypes: bool(3), float64(4), object(22)
memory usage: 158.2+ MB

In [109]:
pd.set_option('display.max_columns', None)
df

,accountNumber,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,posConditionCode,merchantCategoryCode,currentExpDate,accountOpenDate,dateOfLastAddressChange,cardCVV,enteredCVV,cardLast4Digits,transactionType,echoBuffer,currentBalance,merchantCity,merchantState,merchantZip,cardPresent,posOnPremises,recurringAuthInd,expirationDateKeyInMatch,isFraud
0,737265056,737265056,5000.0,5000.00,2016-08-13T14:27:32,98.55,Uber,US,US,02,01,rideshare,06/2023,2015-03-14,2015-03-14,414,414,1803,PURCHASE,,0.00,,,,False,,,False,False
1,737265056,737265056,5000.0,5000.00,2016-10-11T05:05:54,74.51,AMC #191138,US,US,09,01,entertainment,02/2024,2015-03-14,2015-03-14,486,486,767,PURCHASE,,0.00,,,,True,,,False,False
2,737265056,737265056,5000.0,5000.00,2016-11-08T09:18:39,7.47,Play Store,US,US,09,01,mobileapps,08/2025,2015-03-14,2015-03-14,486,486,767,PURCHASE,,0.00,,,,False,,,False,False
3,737265056,737265056,5000.0,5000.00,2016-12-10T02:14:50,7.47,Play Store,US,US,09,01,mobileapps,08/2025,2015-03-14,2015-03-14,486,486,767,PURCHASE,,0.00,,,,False,,,False,False
4,830329091,830329091,5000.0,5000.00,2016-03-24T21:04:46,71.18,Tim Hortons #947751,US,US,02,01,fastfood,10/2029,2015-08-06,2015-08-06,885,885,3143,PURCHASE,,0.00,,,,True,,,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786358,732852505,732852505,50000.0,48904.96,2016-12-22T18:44:12,119.92,Lyft,US,US,90,01,rideshare,12/2022,2012-08-23,2012-08-23,936,936,3783,PURCHASE,,1095.04,,,,False,,,False,False
786359,732852505,732852505,50000.0,48785.04,2016-12-25T16:20:34,18.89,hulu.com,US,US,09,01,online_subscriptions,08/2023,2012-08-23,2012-08-23,939,939,3388,PURCHASE,,1214.96,,,,False,,,False,False
786360,732852505,732852505,50000.0,48766.15,2016-12-27T15:46:24,49.43,Lyft,US,US,02,01,rideshare,08/2025,2012-08-23,2012-08-23,936,936,3783,PURCHASE,,1233.85,,,,False,,,False,False
786361,732852505,732852505,50000.0,48716.72,2016-12-29T00:30:55,49.89,walmart.com,US,US,09,99,online_retail,07/2022,2012-08-23,2012-08-23,939,939,3388,PURCHASE,,1283.28,,,,False,,,False,False
786362,732852505,732852505,50000.0,48666.83,2016-12-30T20:10:29,72.18,Uber,US,US,05,01,rideshare,05/2024,2012-08-23,2012-08-23,939,939,3388,PURCHASE,,1333.17,,,,False,,,False,False

In [110]:
# def import_data(yuqi):
#     dfList = []
#     df=pd.DataFrame()
#     for iot_chunk in pd.read_json(yuqi, lines=True,chunksize=100000) :
#         dfList.append(iot_chunk)
#     df = pd.concat(dfList,sort=False)
#     return df

In [111]:
df.columns

Index(['accountNumber', 'customerId', 'creditLimit', 'availableMoney',
       'transactionDateTime', 'transactionAmount', 'merchantName',
       'acqCountry', 'merchantCountryCode', 'posEntryMode', 'posConditionCode',
       'merchantCategoryCode', 'currentExpDate', 'accountOpenDate',
       'dateOfLastAddressChange', 'cardCVV', 'enteredCVV', 'cardLast4Digits',
       'transactionType', 'echoBuffer', 'currentBalance', 'merchantCity',
       'merchantState', 'merchantZip', 'cardPresent', 'posOnPremises',
       'recurringAuthInd', 'expirationDateKeyInMatch', 'isFraud'],
      dtype='object')

In [112]:
print("Dataset Dimensions: {} x {}".format(df.shape[0], df.shape[1]))

Dataset Dimensions: 786363 x 29

In [113]:
df.describe()

         creditLimit  availableMoney  transactionAmount  currentBalance
count  786363.000000   786363.000000      786363.000000   786363.000000
mean    10759.464459     6250.725369         136.985791     4508.739089
std     11636.174890     8880.783989         147.725569     6457.442068
min       250.000000    -1005.630000           0.000000        0.000000
25%      5000.000000     1077.420000          33.650000      689.910000
50%      7500.000000     3184.860000          87.900000     2451.760000
75%     15000.000000     7500.000000         191.480000     5291.095000
max     50000.000000    50000.000000        2011.540000    47498.810000

In [114]:
def is_null(df):
    null_data = pd.DataFrame(
        {
            "column" : df.columns.tolist(),
            "number" : (df.values == "").sum(axis = 0)
        }
    )
    return null_data
is_null(df)

                      column  number
0              accountNumber       0
1                 customerId       0
2                creditLimit       0
3             availableMoney       0
4        transactionDateTime       0
5          transactionAmount       0
6               merchantName       0
7                 acqCountry    4562
8        merchantCountryCode     724
9               posEntryMode    4054
10          posConditionCode     409
11      merchantCategoryCode       0
12            currentExpDate       0
13           accountOpenDate       0
14   dateOfLastAddressChange       0
15                   cardCVV       0
16                enteredCVV       0
17           cardLast4Digits       0
18           transactionType     698
19                echoBuffer  786363
20            currentBalance       0
21              merchantCity  786363
22             merchantState  786363
23               merchantZip  786363
24               cardPresent       0
25             posOnPremises  786363
26          recurringAuthInd  786363
27  expirationDateKeyInMatch       0
28                   isFraud       0

In [115]:
def is_unique(df):
    is_unique = pd.DataFrame({
    "column" : df.columns.tolist(),
    "number" : df.apply(lambda yuqi: len(yuqi.unique()), axis=0)
    })
    return is_unique
is_unique(df)

                                            column  number
accountNumber                        accountNumber    5000
customerId                              customerId    5000
creditLimit                            creditLimit      10
availableMoney                      availableMoney  521916
transactionDateTime            transactionDateTime  776637
transactionAmount                transactionAmount   66038
merchantName                          merchantName    2490
acqCountry                              acqCountry       5
merchantCountryCode            merchantCountryCode       5
posEntryMode                          posEntryMode       6
posConditionCode                  posConditionCode       4
merchantCategoryCode          merchantCategoryCode      19
currentExpDate                      currentExpDate     165
accountOpenDate                    accountOpenDate    1820
dateOfLastAddressChange    dateOfLastAddressChange    2184
cardCVV                                    cardCVV     899
enteredCVV                              enteredCVV     976
cardLast4Digits                    cardLast4Digits    5246
transactionType                    transactionType       4
echoBuffer                              echoBuffer       1
currentBalance                      currentBalance  487318
merchantCity                          merchantCity       1
merchantState                        merchantState       1
merchantZip                            merchantZip       1
cardPresent                            cardPresent       2
posOnPremises                        posOnPremises       1
recurringAuthInd                  recurringAuthInd       1
expirationDateKeyInMatch  expirationDateKeyInMatch       2
isFraud                                    isFraud       2

In [116]:
account_number_is_customer_id = all(df.accountNumber.values == df.customerId.values)
bool(account_number_is_customer_id)

True

then let us drop, those super none, no uniqueness data and no numeric meaning data when doing statistics.

our independent variable is isFraud

some time series label is inside

so many merchant names

probably I will use RF OR BOOSTING

In [117]:
df.drop(['echoBuffer','merchantCity','merchantState','merchantZip','posOnPremises','recurringAuthInd','cardCVV','enteredCVV','cardLast4Digits'], axis=1,inplace=True)

In [118]:
is_unique(df)

                                            column  number
accountNumber                        accountNumber    5000
customerId                              customerId    5000
creditLimit                            creditLimit      10
availableMoney                      availableMoney  521916
transactionDateTime            transactionDateTime  776637
transactionAmount                transactionAmount   66038
merchantName                          merchantName    2490
acqCountry                              acqCountry       5
merchantCountryCode            merchantCountryCode       5
posEntryMode                          posEntryMode       6
posConditionCode                  posConditionCode       4
merchantCategoryCode          merchantCategoryCode      19
currentExpDate                      currentExpDate     165
accountOpenDate                    accountOpenDate    1820
dateOfLastAddressChange    dateOfLastAddressChange    2184
transactionType                    transactionType       4
currentBalance                      currentBalance  487318
cardPresent                            cardPresent       2
expirationDateKeyInMatch  expirationDateKeyInMatch       2
isFraud                                    isFraud       2

In [119]:
is_null(df)

                      column  number
0              accountNumber       0
1                 customerId       0
2                creditLimit       0
3             availableMoney       0
4        transactionDateTime       0
5          transactionAmount       0
6               merchantName       0
7                 acqCountry    4562
8        merchantCountryCode     724
9               posEntryMode    4054
10          posConditionCode     409
11      merchantCategoryCode       0
12            currentExpDate       0
13           accountOpenDate       0
14   dateOfLastAddressChange       0
15           transactionType     698
16            currentBalance       0
17               cardPresent       0
18  expirationDateKeyInMatch       0
19                   isFraud       0

In [122]:
def show_unique(df):
    return df.apply(lambda yuqi: yuqi.unique(), axis = 0)
show_unique(df)
#good so far

accountNumber               [737265056, 830329091, 574788567, 924729945, 9...
customerId                  [737265056, 830329091, 574788567, 924729945, 9...
creditLimit                 [5000.0, 2500.0, 50000.0, 15000.0, 10000.0, 25...
availableMoney              [5000.0, 4990.63, 4959.25, 4918.5, 4877.75, 25...
transactionDateTime         [2016-08-13T14:27:32, 2016-10-11T05:05:54, 201...
transactionAmount           [98.55, 74.51, 7.47, 71.18, 30.76, 57.28, 9.37...
merchantName                [Uber, AMC #191138, Play Store, Tim Hortons #9...
acqCountry                                               [US, , CAN, MEX, PR]
merchantCountryCode                                      [US, CAN, , PR, MEX]
posEntryMode                                           [02, 09, 05, 80, 90, ]
posConditionCode                                               [01, 08, 99, ]
merchantCategoryCode        [rideshare, entertainment, mobileapps, fastfoo...
currentExpDate              [06/2023, 02/2024, 08/2025, 10/2029, 01/2020, ...
accountOpenDate             [2015-03-14, 2015-08-06, 2015-10-13, 2014-07-2...
dateOfLastAddressChange     [2015-03-14, 2015-08-06, 2015-10-13, 2014-07-2...
transactionType                  [PURCHASE, ADDRESS_VERIFICATION, REVERSAL, ]
currentBalance              [0.0, 9.37, 40.75, 81.5, 122.25, 30.08, 71.33,...
cardPresent                                                     [False, True]
expirationDateKeyInMatch                                        [False, True]
isFraud                                                         [False, True]
dtype: object

In [123]:
df.to_csv(os.path.join(dataPath,"clean.csv"), sep="," , index=False)

In [125]:
clean = pd.read_csv(os.path.join(dataPath,"clean.csv"), sep=",")